<!-- footer -->
<footer>
    <div class="full-footer-gap">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4 col-xl-4">
              <div class="mb-4">
                  <img src="assets/logo.png" alt="logo" width="185px" class="">
                  <p class="text-white m-0 pt-3">No 50A ,Temple rd,<br>Maharagama
                    Sri Lanka.</p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                <div class="mb-4">
                    <div class="">
                        <p class="f-topic text-white">Explore Kids home
                        </p>
                    </div>
                    <div class="explore-link mb-1">
                        <a class="" href="#">About our self
                        </a>
                    </div>
                    <div class="explore-link mb-1">
                        <a class="" href="#">Our services
                        </a>
                    </div>
                    <div class="explore-link mb-1">
                        <a class="" href="#">Our Classes
                        </a>
                    </div>
                    <div class="explore-link mb-1">
                        <a class="" href="#">Our Blog
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6  col-lg-4 col-xl-4">
              <div class="social-media pb-4">
                  <div class="">
                      <p class="f-topic text-white">Connect with us</p>
                  </div>
                <div class="">
                    <div class="d-inline">
                        <a class="socail-btn" href="#">
                          <i class="fa fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class="d-inline">
                        <a class="socail-btn" href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <div class="d-inline">
                        <a class="socail-btn" href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                    <div class="d-inline">
                        <a class="socail-btn" href="#">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="d-inline">
                        <a class="socail-btn" href="#">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </div>
                </div>
              </div>
              <div class="other-contact padding-t-1">
                  <div class="">
                      <p class="f-topic text-white">Contact
                      </p>
                  </div>
                  <div class="explore-link">
                      <a href="tel:+94 77411 58 25" class="text-white explore-link"><span class="pr-2">Phone:</span>+94 77411 58 25</a>
                  </div>
                  <div class="explore-link">
                      <a href="mailto:info@kidshome.com" class="text-white explore-link"><span class="pr-2">Email:</span>info@kidshome.com</a> 
                  </div>               
             </div>
            </div>
          </div>
        </div> 
    </div>
    <div class="bottom-line">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-8 col-lg-8 col-xl-8">
              <div class="mb-2 pt-1">
                  <p class="m-0">&copy; 2020 Kids Home All Rights Reserved.</p>
              </div>
            </div>
            <div class="col-12 col-md-4  col-lg-4 col-xl-4">
                <a href="" class="d-inline">Terms of services</a> <span class="mx-2 text-white">|</span>
                <a href="" class="d-inline">Privacy Policy</a>
            </div>
          </div>
        </div> 
    </div>
</footer>
<!-- // footer -->