/* text color variables*/
$tcolor-pink : #ff005a;
$tcolor-green : #14aa00;
$tcolor-gray : #2e4a56;
$tcolor-purple : #5820bc;

/* background color variables*/
$bgcolor-pink : #ff005a;
$bgcolor-green : #14aa00;
$bgcolor-gray : #2e4a56;
$bgcolor-purple : #5820bc;
$bgcolor-white : #ffffff;

