<!--  hero -->
<section class="hero-banner">
  <div class="banner-wrap" style="background-image:url(assets/hero.jpg)">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8 col-xl-6">
            <div class="inner-details">
              <div class="main-topic">
                <h1 class="text hero-main-topic t-color-gray">Kids Are The Best<br> Explorers In The World</h1>
                <div class="topic-underline"></div>
              </div>
              <p class="hero-sub-topic pb-4 mb-3 t-color-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                dolore magna aliquam erat volutpat.</p>
              <a href="#" class="primary-btn">About</a>
            </div>
          </div>
        </div>
      </div>
      <div id="scroll-down-animation">
        <span class="mouse">
                    <span class="move"></span>
        </span>
      </div>
    </div>
  </div>
</section>
<!-- // hero -->


<!--  services -->
<section class="services main-gap mb-4">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-left aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
        <div class="details">
          <div class="main-topic">
            <h2 class="text t-color-gray">Kids Home is a <br><span class="t-color-pink">exceptional</span> preschool <br>education & child care</h2>
            <div class="topic-underline mt-2"></div>
          </div>
          <p class="pb-4 mobile-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
            nisl ut aliquip ex ea commodo consequat.</p>
          <a href="#" class="primary-btn">Services</a>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="row presentage aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 d-flex py-3">
            <div class="img-icon1 pr-4"><img src="assets/icon1.png" alt="icon"></div>
            <div class="details padding-b-3">
              <h3 class="number text-black ">100<span class="pl-2">+</span></h3>
              <p class="pl-1 mobile-description">Fun activities</p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 d-flex py-3">
            <div class="img-icon2 pr-4"><img src="assets/icon2.png" alt="icon"></div>
            <div class="details padding-b-3">
              <h3 class="number text-black ">150<span class="pl-2">+</span></h3>
              <p class="pl-1 mobile-description">Happy Kids</p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 d-flex py-3">
            <div class="img-icon3 pr-4"><img src="assets/icon3.png" alt="icon"></div>
            <div class="details">
              <h3 class="number text-black ">1250<span class="pl-2">+</span></h3>
              <p class="pl-1 mobile-description">Thankfull reviews</p>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 d-flex py-3">
            <div class="img-icon4 pr-4"><img src="assets/icon4.png" alt="icon"></div>
            <div class="details">
              <h3 class="number text-black ">20<span class="pl-2">+</span></h3>
              <p class="pl-1 mobile-description">Good teachers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // services -->


<!-- teach-methods -->
<section class="teach-methods">
  <div class="teachmethods-banner" style="background-image:url(assets/teach-banner.jpg)">
    <div class="overlay  main-gap">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-8 text-center aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
            <div class="py-2 mx-auto">
              <div class="main-topic">
                <h2 class="text t-color-gray">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                </h2>
                <div class="topic-underline mt-2 mx-auto"></div>
              </div>
              <p class="pt-3 mobile-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // teach-methods -->


<!-- classes -->
<section class="classes main-gap">
  <div class="container">
     <div class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
        <div class="main-topic">
        <h2 class="text t-color-gray">
            Our Classes
        </h2>
        <div class="topic-underline mt-2"></div>
        </div>
        <p class="pt-1 mobile-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
        aliquam erat volutpat.</p>
     </div>
    <div class="row pt-3">
      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <div class="full-grid py-3 aos-animate" data-aos="fade-up" data-aos-duration="1000">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/classes1.jpg" alt="image" class="">
                <p class="topic pt-4">Lorem ipsum dolor</p>
              </div>
              <div class="flip-card-back">
                <p class="text-white pb-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                  dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                  suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                <a href="#" class="btn-classes">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <div class="full-grid py-3 aos-animate" data-aos="fade-up" data-aos-duration="1000">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/classes2.jpg" alt="image" class="">
                <p class="topic pt-4">Lorem ipsum dolor</p>
              </div>
              <div class="flip-card-back">
                <p class="text-white pb-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                  dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                  suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                <a href="#" class="btn-classes">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <div class="full-grid py-3 aos-animate" data-aos="fade-up" data-aos-duration="1000">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/classes3.jpg" alt="image" class="">
                <p class="topic pt-4">Lorem ipsum dolor</p>
              </div>
              <div class="flip-card-back">
                <p class="text-white pb-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                  dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                  suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                <a href="#" class="btn-classes">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <div class="full-grid py-3 aos-animate" data-aos="fade-up" data-aos-duration="1000">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/classes4.jpg" alt="image" class="">
                <p class="topic pt-4">Lorem ipsum dolor</p>
              </div>
              <div class="flip-card-back">
                <p class="text-white pb-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                  dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                  suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                <a href="#" class="btn-classes">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <div class="full-grid py-3 aos-animate" data-aos="fade-up" data-aos-duration="1000">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/classes5.jpg" alt="image" class="">
                <p class="topic pt-4">Lorem ipsum dolor</p>
              </div>
              <div class="flip-card-back">
                <p class="text-white pb-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                  dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                  suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                <a href="#" class="btn-classes">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <div class="full-grid py-3 aos-animate" data-aos="fade-up" data-aos-duration="1000">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <div><img src="assets/classes6.jpg" alt="image" class=""></div>
                <p class="topic pt-4">Lorem ipsum dolor</p>
              </div>
              <div class="flip-card-back">
                <p class="text-white pb-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                  dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                  suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                <a href="#" class="btn-classes">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // classes -->


<!-- testimonials -->
<section class="testimonials">
  <div class="testimonials-banner" style="background-image:url(assets/testimonials-banner.png)">
    <div class="main-gap">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
            <div class="py-2">
              <div class="main-topic">
                <h2 class="text text-white">
                  Testimonials
                </h2>
                <div class="topic-underline-white mt-2"></div>
              </div>
              <p class="pt-2 text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                dolore magna aliquam erat volutpat.</p>
            </div>
          </div>
        </div>
        <div class="row testimonials-details mt-4">
          <div class="col-sm-12 col-12">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-6 col-12 py-3">
                <div class="whole-backg d-flex aos-animate" data-aos="fade-up" data-aos-duration="1000">
                  <div class="img-pro pr-3"><img src="assets/unnamed.png" alt="icon"></div>
                  <div class="details padding-b-3">
                    <p class="comma m-0">“</p>
                    <p class="t-desc m-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                      laoreet dolore magna.</p>
                    <p class="name m-0">Lasindu Dilankamal</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-12 py-3">
                <div class="whole-backg d-flex aos-animate" data-aos="fade-up" data-aos-duration="1000">
                  <div class="img-pro pr-3"><img src="assets/unnamed.png" alt="icon"></div>
                  <div class="details padding-b-3">
                    <p class="comma m-0">“</p>
                    <p class="t-desc m-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                      laoreet dolore magna.</p>
                    <p class="name m-0">Umesha Nirmal</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-12 py-3">
                <div class="whole-backg d-flex aos-animate" data-aos="fade-up" data-aos-duration="1000">
                  <div class="img-pro pr-3"><img src="assets/unnamed.png" alt="icon"></div>
                  <div class="details padding-b-3">
                    <p class="comma m-0">“</p>
                    <p class="t-desc m-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                      laoreet dolore magna.</p>
                    <p class="name m-0">Vidumani Mipavita</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // testimonials -->


<!-- our-teachers -->
<section class="our-teachers">
  <div class="our-teachers-banner">
    <div class="main-gap">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
            <div class="py-2">
              <div class="main-topic">
                <h2 class="text">
                  Meet Our Teachers
                </h2>
                <div class="topic-underline mt-2"></div>
              </div>
              <p class="pt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                dolore magna aliquam erat volutpat.</p>
            </div>
          </div>
        </div>
        <div class="row our-teachers-details mt-3">
          <div class="col-sm-12 col-12">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-6 col-12 py-3">
                <div class="our-teachers-backg aos-animate" data-aos="fade-up" data-aos-duration="1000" style="background-image:url(assets/teacher1.jpg)">
                  <div class="overlay">
                    <div class="details padding-b-3">
                      <p class="name m-0 text-white">Tharushi Dulshara</p>
                      <p class="position m-0 text-white">Head Teacher</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-12 py-3">
                <div class="our-teachers-backg aos-animate" data-aos="fade-up" data-aos-duration="1000" style="background-image:url(assets/teacher2.jpg)">
                  <div class="overlay">
                    <div class="details padding-b-3">
                      <p class="name m-0 text-white">Pawani malkanthi</p>
                      <p class="position m-0 text-white">Teacher</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-12 py-3">
                <div class="our-teachers-backg aos-animate" data-aos="fade-up" data-aos-duration="1000" style="background-image:url(assets/teacher3.jpg)">
                  <div class="overlay">
                    <div class="details padding-b-3">
                      <p class="name m-0 text-white">Piumi Nilushika</p>
                      <p class="position m-0 text-white">Teacher</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-6 col-12 py-3">
                <div class="our-teachers-backg aos-animate" data-aos="fade-up" data-aos-duration="1000" style="background-image:url(assets/teacher4.jpg)">
                  <div class="overlay">
                    <div class="details padding-b-3">
                      <p class="name m-0 text-white">Shenaya Peries</p>
                      <p class="position m-0 text-white">Teacher</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- our-teachers -->


<!--  newsletter -->
<section class="newsletter bg-color-purple">
  <div class="container padding-new">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-xs-12 text-left">
        <div class="main-topic py-1 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
          <h2 class="text text-white py-3">
            Join our newsletter
          </h2>
        </div>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-xs-12">
        <div class="form py-2">
          <div class="form-fields aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
            <form>
              <div class="">
                <input type="email" name="EMAIL" placeholder="Enter your email" required="" autocomplete="off" class="input-feild">
                <button class="btn-newsletter">join</button>
              </div>
            </form>
            <p class="text-white m-0 pl-4"><small>Subscribe to our Newsletter, No spam, we promise!</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  // newsletter -->
